.flex-logn-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.flex-login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 1em;
}

.main-title {

}

.subtitle {
    margin: 0px;
    padding-bottom: 1em;
}

.login-button {
    margin: 1em;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em 1.5em;
    background-color: rgb(0, 0, 0);
    border: 0px solid white;
    color: white;
}

.username-field {
    font-size: 1em;
    padding: 0.5em;
    margin: 1em;
}

.password-field {
    font-size: 1em;
    padding: 0.5em;
    margin: 1em;
}

.error-message {
    color: #ff0000;
    font-weight: b;
}

