#people-table-list {
    padding-top: 1.5em;
    padding-bottom: 1em;
    animation-name: fade-in;
    animation-duration: 1s;
  }
  
  .table-hover tr:hover {
    background:#379bc2;
    color: white;
  }
  
  .table {
    background-color: rgba(236, 235, 235, 0.6);
    backdrop-filter: blur(2px);
    border: 1px solid rgb(83, 82, 82);
  }
  